.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: black !important;
}

.nav-underline .nav-link.active {
    color: black !important;
}

.imgPequena {
    width: 200px;
}

.cImg {
    width: auto;
    height: 230px;
}

.textoBlocos {
    height: 160px;
}

.container{
    padding: 30px; 
}

.container h1,
.container button,
.textoBlocos h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container p,
.textoBlocos p,
.container h2,
.container h4,
.container label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}




