.nav-link {
    color: black;
}

.nav-link:hover {
    color: #545E75 !important;
}

.nav-underline .nav-link.active {
    color: #545E75 !important;
}

.imgPequena {
    width: 200px;
}

.cImg {
    width: auto;
    height: 230px;
}

.textoBlocos {
    height: 160px;
}

.container{
    background-color: #a7cced;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px; 
}

.form{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}