<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
        }


        #chat-box {
            width: auto;
            height: 400px;
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: auto;
        }

        .card-header {
            background-color: #63adf2;
            color: white;
        }

        .card {
            margin-top: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="../resource/images/logo.png" alt="" class="rounded navbar-brand" width="70px" style="position: absolute;">
            <div class="d-md-flex d-block w-100">
                <div class="collapse navbar-collapse mx-auto w-auto justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <ul class="navbar nav nav-underline justify-content-center p-3 d-flex" style="background-color: #f8f9fa;">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Home</a>
                            </li>
                        </ul>  
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Formulário de Envio de Conteúdos -->
    <div class="card container mt-5 mb-5" style="padding: 0;">
        <div class="card-header">
            <h5 id="nomeConteudoEscolhido" class="m-2"></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <img src="../resource/images/brilho-e-contraste.png" alt="" id="modo" width="50px" style="cursor: pointer;">
                    <div id="itens" style="position: relative;">
                        <iframe id="iframe" src="" style="border: none; height:780px;" class="container-fluid"></iframe>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="w-100" style="height: auto;">
                        <h3 class="fw-bold text-start">Tema<h5 id="temaConteudoEscolhido" class="text-start ms-2"></h5></h3>
                    </div>
                    <div class="w-100" style="height: auto;">
                        <h3 class="fw-bold text-start">Autor</h3>
                        <p id="autorConteudoEscolhido" class="text-start ms-2"></p>

                    </div>
                    <div class="w-100" style="height: auto;">
                        <h3 class="fw-bold text-start">Descrição</h3>
                        <p id="descricaoConteudoEscolhido" class="text-start ms-2"></p>
                    </div>
                    <div class="w-100 mb-3 mt-3" style="height: 50px;">
                        <h4><a id="dowloadConteudo" class="text-start mt-2" target="_blank">DOWLOAD PDF</a></h4>
                    </div>
                    <hr>
                    <div style="width: 100px; margin-top: 20px; margin-bottom: 20px;">
                        <div class="row mb-3">
                            <div class="col-6">
                                <img src="../resource/images/like.png" alt="" style="width: 30px; cursor: pointer;" id="like"
                                    class="rounded">
                            </div>
                            <div class="col-6">
                                <img src="../resource/images/dislike.png" alt="" style="width: 30px; cursor: pointer;" id="dislike"
                                    class="rounded">
                            </div>
                        </div>
                        <h2>Like</h2>
                        <p id="numeroLikes"></p>
                        <h2>Dislike</h2>
                        <p id="numeroDislikes"></p>
                    </div>
                    <hr>
                    <div style="height: 200px; overflow-y: scroll;" class="mt-3">
                        <h1>Comentários</h1>
                        <ul id="comentariosConteudo" class="list-group list-group-flush">
                        </ul>
                    </div>
                    <div>
                        <div class="form-floating">
                            <input type="text" placeholder="Comentário" id="inserirComentario" class="form-control" >
                            <label for="inserirComentario">Comentário</label>
                          </div>
                        <input type="button" value="Comentar" id="comentar" class="btn btn-primary w-50 mt-3"
                        style="background-color: #63adf2; border-color: #63adf2;">
                    </div>
                    <hr>
                    <div id="chat-box" class="mt-3 rounded"></div>
                    <div class="form-floating mt-3">
                        <input type="text" id="user-input" placeholder="Digite sua mensagem" class="form-control">
                        <label for="user-input">Digite sua mensagem</label>
                    </div>
                    <button id="enviarMsg" class="btn btn-primary w-50 mt-3"
                    style="background-color: #63adf2; border-color: #63adf2;">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center mt-5">
        <p>&copy; 2024 NihaoHub. Todos os direitos reservados.</p>
    </footer>

    <script type="module" src="../controller/ConteudoController.js"></script>
    <script type="module" src="../controller/VisualizadorConteudoController.js"></script>
    <script type="module" src="../controller/JorgeController.js"></script>
</body>

</html>