<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h1>Educador</h1>
    <h1 id="emailEducador"></h1>

    <div id="conteudos">

    </div>

    <div>
        <form onsubmit="return false;">
            <input type="text" placeholder="autor" id="autor" required/>
            <input type="text" placeholder="descrição" id="descricao" required/>
            <input type="text" placeholder="tema" id="tema" required>
            <input type="file" id="arquivos" required/>
            <output id="output">escolha arquivos pdf…</output>
            <input type="submit" id="enviarArquivo" value="Enviar">
        </form>
    </div>

    <script type="module" src="../controller/ConteudoController.js"></script>
</body>
</html>